.aboutUs__container--box {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px 10rem;
}

.sub__text {
  margin: 10px 0;
}

.aboutUs__container {
  display: flex;
}

.aboutUs__container--G {
  position: absolute;
  inset: 1;
  margin-top: 250px;
}

.aboutUs__container--G img {
  width: 391px;
  height: 415px;
  z-index: 0;
}

.aboutUs__container {
  z-index: 2;
  align-items: center;
}

.aboutUs__container h2 {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 64px;
  line-height: 83.2px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.aboutUs__container p {
  font-family: var(--font-alt);
  color: var(--color-grey);
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  line-height: 28px;
  font-size: 16px;
}

.aboutUs__container button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-base);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
}

.aboutUs__container button:hover {
  background-color: transparent;
  color: var(--color-crimson);
  border: 1px solid var(--color-crimson);
}

.aboutUs__container--knife img {
  height: 910px;
  margin: 2rem 3rem;
}

.aboutUs__container--AboutUs {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
}

.aboutUs__container--History {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
}

@media screen and (max-width: 767px) {
  .aboutUs__container--box {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10px 1.5rem;
  }

  .aboutUs__container {
    display: flex;
    flex-direction: column;
  }

  .aboutUs__container--knife img {
    display: none;
  }

  .aboutUs__container--G img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
  }

  .aboutUs__container--AboutUs,
  .sub__text,
  .aboutUs__container--History {
    margin: 20px 0;
  }
}

@media (min-width: 768px) and (max-width: 884px) {
  .aboutUs__container--box {
    margin: 0px 1rem;
  }

  .sub__text {
    margin: 20px 0;
  }

  .aboutUs__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .aboutUs__container--History,
  .aboutUs__container--AboutUs {
    flex: 1;
  }

  .aboutUs__container--G img {
    width: 500px;
    height: 500px;
  }
  .aboutUs__container--knife img {
    height: 850px;
    margin: 2rem 1rem;
  }
}
